<!-- profile.component.html -->
<div class="whole">
    <div class="formcontainer">
      <form class="form">
        <h2>Admin Profile</h2>
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="inputName" [value]="userData.name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" readonly class="form-control-plaintext" id="inputEmail" [value]="userData.email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPhone" class="col-sm-2 col-form-label">Phone No</label>
          <div class="col-sm-10">
            <input type="tel" readonly class="form-control-plaintext" id="inputPhone" [value]="userData.phone">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="inputAddress" [value]="userData.address">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="inputGender" [value]="userData.gender">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <button type="button" class="btn btn-primary float-left" (click)="editProfile()">Edit</button>
            <button type="button" class="btn btn-success float-right" (click)="changepassword()">Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  