<div class="background-image-container">
<div class="contact-us">
    <h2>Contact Us</h2>
    <p>
      If you have any questions, suggestions, or if you'd like to get in touch with us,
      please feel free to reach out using the contact information below.
    </p>

    <div class="contact-info">
      <p>Email: srmtourism123.com</p>
      <p>Phone: +1 (123) 456-7890</p>
      <p>Address: 123 Main Street, Hyderbad, Telangana,India</p>
    </div>

    <p>
      You can also use the form below to send us a message. We'll get back to you as soon as possible.
    </p>

    <form>
      <label for="name">Your Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="email">Your Email:</label>
      <input type="email" id="email" name="email" required>

      <label for="message">Your Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Submit</button>
    </form>

  </div>
</div>

 <!----Footer Start----->
 <div class="footer">
  <p><b class="bld"></b>|<span>&#169;</span> Copyright © 2024 Travel buddy Inc.|</p>
  <p><b class="bld"></b>|<span>&#169;</span> All Rights Reserved.|</p>
</div>
<!----Footer End -->


  
