<!-- booking-form.component.html -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form (ngSubmit)="reserveNow()">
        <!-- Name input -->
        <div class="form-group">
          <label for="travellerName">Traveller Name</label>
          <input type="text" class="form-control" id="travellerName" placeholder="Enter your name" [(ngModel)]="travellerName" required>
        </div>

        <!-- Phone number input -->
        <div class="form-group">
          <label for="travellerMobile">Phone Number</label>
          <input type="tel" class="form-control" id="travellerMobile" placeholder="Enter your phone number" [(ngModel)]="travellerMobile" required>
        </div>


        <!-- Start date input -->
        <div class="form-group">
          <label for="tourStartDate">Start Date of Tour</label>
          <input type="date" class="form-control" id="tourStartDate" [(ngModel)]="tourStartDate" required>
        </div>
<!--   
        Number of members input  -->
        <div class="form-group">
          <label for="totalMember">Number of Members</label>
          <input type="number" class="form-control" id="totalMember" placeholder="Enter the number of members" [(ngModel)]="totalMember" required> 
        </div><br><br>

        <!-- Reserve Now button -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Reserve Trip</button>
        </div>
        
      </form>
    </div>
  </div>
</div>

