navbar.component.css */
/* styles.scss or styles.css */

/* @import '~@fortawesome/fontawesome-free/css/all.css';
 */

.navbar {
    background-color: #333;
    overflow: hidden;
    
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar-left ,.navbar-right{
    display: flex;
    align-items: center;
  }
  
  
  .nav-usericon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background:transparent;
  
  }
  .nav-usericon{
    margin-left: 15px;
    margin-right: 10px;
  }
  .searchbox{
    background-color: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
   
    padding: 0 15px;

  }
  .searchbox img{
    width: 20px;
    height: 20px;
    background: transparent;
  }
  .searchbox input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
  }
  /* user.component.css */

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .item {
    width: 30%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: red;
  }
  
  .item-content {
    padding: 10px;
  }
  
  .booking-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
   
  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
  }
  .hero{
    width: 100%;
    min-height: 100vh;
    color: #525252;
  }
  nav{
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo{
    width: 200px;
    color: #fff;
  }
  .user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    height: 35px;
  }
  nav ul{
    width: 100%;
    text-align: right;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color: #fff;
    text-decoration: none;
  }
  .sub-menu-wrap{
    position: absolute;
    top:100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }
  .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
  }
.user-info{
  display: flex;
  align-items: center;
}
.user-info h2{
  font-weight: 500;
}
.user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.sub-menu-link p{
  width: 100%;
}
.sub-menu-link img{
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5;
}
.sub-menu-link:hover span{
  transform: translateX(5px);
}
.sub-menu-link:hover p{
  font-weight: 600;
}
