/* admin-view-reservations.component.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
h3{
  text-align: center;

  color: #4caf50;
  text-decoration: underline;
}